/* 
* Avoid fixed sizes 
* Use EM and REM
* use min/max
* mobile first
* fonts, colours, spacing
* media queries to add complexity (desktop styling)
    * e.g. need columns in a div
    * @media(min-width: 40em) {}
* use 2 or max 3 breakpoints (see where problems are occurring) 
* use 320px min VW for devices to test responsiveness
* clamp(min, max, ideal) for font
* width min() 
*/

:root {
  /* typography */
  --ff-primary: "Arial", sans-serif;
  --ff-accent: Helvetica;

  /* body */
  /* --fs-body: 1.3125rem; */
  /* --fs-body: 1.125rem; 
  calculates as 18px*/
  --fs-body: 1.08rem;
  --fs-body-small: calc(var(--fs-body) * 0.75);
  --fs-body-line-height: 1.2;

  --clr-body: var(--clr-neutral-800);

  /* header */
  --fs-header: clamp(3rem, 1rem + 10vw, 7rem);
  --clr-header: var(--clr-article-300);

  /* FONT SIZE */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;

  /* NEUTRAL colour */
  --cc-neutral-100: #fff;
  --cc-neutral-200: #dedede;
  --cc-neutral-300: #ccc;
  --cc-neutral-700: #666;
  --cc-neutral-800: #4d4d4d;
  --cc-neutral-900: #262626;

  /* COLOURS */
  --accent: #bdcdfc;
  --bg-main: #ffefd9;
  --bg-overlay: #3041f2;
}

@font-face {
  font-family: "Acumin";
  src: url("/assets/fonts/Acumin/Acumin-Variable-Concept.ttf") format("ttf");
}
/* @font-face {
  font-family: "Acumin";
  src: url("/assets/fonts/Synt/ABCSynt-Regular-Trial.otf") format("otf");
} */
@font-face {
  font-family: "Synt";
  src: url("/assets/fonts/Synt/ABCSynt-Regular-Trial.otf") format("otf");
}
@font-face {
  font-family: "Synt-em";
  src: url("/assets/fonts/Synt/ABCSynt-Italic-Trial.otf") format("otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-body);

  line-height: var(--fs-body-line-height);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  /* color: var(--clr-header);
  font-family: var(--ff-accent); */
  /* font-weight: 900; */
  line-height: 1;
  margin-bottom: 1em;

  font-size: 18px;
  font-weight: 400;
  font-style: italic;

  color: var(--bg-overlay);
}

p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

/* ============================
typography
===============================*/

.ff-condensed {
  font-family: Arial, Helvetica, sans-serif;
}

.fs-900 {
  font-size: 5rem;
}
.fs-800 {
  font-size: 4rem;
}
.fs-700 {
  font-size: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-centre {
  text-align: center;
}

/* Visually hide an element */
/*                  uncomment */
/* .hidden {
  opacity: 0;
} */

/* Hide an element plus effectively remove it from the page */
/*                  uncomment */
/* .removed {
  display: none;
} */

/* ========================
      background
======================== */

/*                  uncomment */
/* .bg-primary {
  background-color: var(--bg-overlay);
  transition: background-color 3s;
} */
.bg-primary.bg-other {
  background-color: var(--bg-main);
}

.main {
  transition: opacity 700ms;
}

.acknowledgement p {
  color: var(--bg-main);
}

.acknowledgement a {
  mix-blend-mode: difference;
}

header,
section {
  /* padding: 3rem 0; */
  /* border: 1px red solid; */
  height: 100vh;
}

@media (min-width: 40em) {
  header,
  section {
    /* padding: 7rem 0; */
  }
}

.container {
  margin: 0 auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  /* for equal columns, all direct children of split */
  .split > * {
    flex-basis: 100%;
  }

  /* adjacent sibling selector, i.e. any element that has a sibling before it */
  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

section p {
  /* font-size: 18px; */
  /* calculate scalable font size  */

  color: var(--bg-overlay);
}

/* ========================
      grid layout 
======================== */

.grid {
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  /* margin: 20px auto; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.acknowledgement-content {
  grid-area: Ack;
}

.acknowledgement {
  grid-template-areas:
    ".    .    .    .    .    .    . . . . . ."
    ".    .    Ack  Ack  Ack  .    . . . . . .";
}

.about {
  grid-template-areas:
    "As   .    .    .    .    .    . . . . .  ."
    ".    .    .    .    .    .    . . . . .  ."
    ".    Ac   Ac   Ac   Ac   .    . . . . At ."
    ".    SRt  SRc  SRc  SRc  SRc  . . . . .  ."
    ".    AIt  AIc  AIc  AIc  AIc  . . . . .  .";
}

.outlook {
  grid-template-areas: ". Os Os Os Os . . Obm Obm Obm Obm .";
  /* overflow-y: hidden; */
}

.footer {
  grid-template-areas: ".   socials    .    address    address    .    . . . cc cc  .";
}

/* ========================
      acknowledgement 
======================== */

.acknowledgement,
.acknowledgement a {
  position: absolute;
  color: var(--bg-main);
  transition: opacity 2000ms 2000ms;
}

.acknowledgement-accent-text p,
.acknowledgement-accent-text a {
  font-size: var(--fs-body-small);
}

/* ========================
      about
======================== */

.space-about {
  grid-area: As;
  height: 66.6vh;
  /* grid-row: 1 / 4;
  grid-column: 1 / 4; */
}

.about-title {
  grid-area: At;
  /* align-items: flex-start; */
}
.about-content {
  grid-area: Ac;
}
.slow-roll-title {
  grid-area: SRt;
}
.slow-roll {
  grid-area: SRc;
}
.as-is-title {
  grid-area: AIt;
}
.as-is {
  grid-area: AIc;
}

.as-is-title,
.slow-roll-title {
  font-style: italic;
}

/* ========================
      outlook
======================== */
.outlook {
  margin-top: 1vw;
  height: 100vh;
}

.outlook-support {
  grid-area: Os;
}

.outlook-bon-marche {
  grid-area: Obm;
}

/* ========================
      footer
======================== */
.social-icon {
  mix-blend-mode: normal;
  width: 20px;
}

.icon-ig {
}
.icon-fb {
}
.icon-email {
}
