/* 
* Avoid fixed sizes 
* Use EM and REM
* use min/max
* mobile first
* fonts, colours, spacing
* media queries to add complexity (desktop styling)
    * e.g. need columns in a div
    * @media(min-width: 40em) {}
* use 2 or max 3 breakpoints (see where problems are occurring) 
* use 320px min VW for devices to test responsiveness
* clamp(min, max, ideal) for font
* width min() 
*/

@font-face {
  font-family: Acumin;
  src: url("/assets/fonts/Acumin/Acumin-Variable-Concept.ttf")
      format("truetype"),
    url("/assets/fonts/Acumin/AcuminVariableConcept.otf") format("opentype");
}
/* @font-face {
  font-family: "Acumin";
  src: url("/assets/fonts/Synt/ABCSynt-Regular-Trial.otf") format("otf");
} */
@font-face {
  font-family: Synt;
  src: url("/assets/fonts/Synt/ABCSynt-Regular-Trial.otf") format("opentype");
}
@font-face {
  font-family: Synt-em;
  src: url("/assets/fonts/Synt/ABCSynt-Italic-Trial.otf") format("opentype");
}

:root {
  /* typography */
  --ff-primary: Acumin, "Arial", sans-serif;
  --ff-accent: Synt-em;

  /* body */
  /* --fs-body: 1.3125rem; */
  /* --fs-body: 1.125rem; 
  calculates as 18px*/
  --fs-body: 1.08rem;
  --fs-body-small: calc(var(--fs-body) * 0.75);
  --fs-body-line-height: 1.2;
  --fs-body-line-height: 1.225;

  --clr-body: var(--clr-neutral-800);

  /* header */
  --fs-header: clamp(3rem, 1rem + 10vw, 7rem);
  --clr-header: var(--clr-article-300);

  /* FONT SIZE */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;

  /* NEUTRAL colour */
  --cc-neutral-100: #fff;
  --cc-neutral-200: #dedede;
  --cc-neutral-300: #ccc;
  --cc-neutral-700: #666;
  --cc-neutral-800: #4d4d4d;
  --cc-neutral-900: #262626;

  /* COLOURS */
  --accent: #bdcdfc;
  --bg-main: #ffefd9;
  --bg-overlay: #3041f2;

  /* general */
  --one-twelth-vw: calc(100vw / 12);
  --oneohhalf-twelth-vw: calc((100vw / 12) * 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: var(--fs-body);
  line-height: var(--fs-body-line-height);

  /* for mobile padding */
  /* padding: 0 1em; */
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-size: var(--fs-body);

  font-family: var(--ff-accent);
  line-height: 1;
  margin-bottom: 1em;
  font-weight: 300;
  /* font-style: italic; */

  color: var(--bg-overlay);
}

p {
  /* last paragraph of each div is margin 0 */
  margin-bottom: 1em;

  color: var(--bg-overlay);
}
p.last-p {
  margin-bottom: 0;
}

h2,
h3,
em {
  font-family: Synt;
}

img {
  display: block;
  max-width: 100%;
}

/* ============================
typography
===============================*/

.ff-condensed {
  font-family: Arial, Helvetica, sans-serif;
}

.fs-900 {
  font-size: 5rem;
}
.fs-800 {
  font-size: 4rem;
}
.fs-700 {
  font-size: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-centre {
  text-align: center;
}

/* Visually hide an element */
/*                  uncomment */
/* .hidden {
  opacity: 0;
} */

/* Hide an element plus effectively remove it from the page */
/*                  uncomment */
/* .removed {
  display: none;
} */

/* ========================
      background
======================== */

/*                  uncomment */
/* .bg-primary {
  background-color: var(--bg-overlay);
  transition: background-color 3s;
} */
.bg-primary.bg-other {
  background-color: var(--bg-main);
}

.main {
  transition: opacity 700ms;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "acknowledgement-section"
    "about-section"
    "outlook-section"; */
}

.acknowledgement p {
  color: var(--bg-main);
}

.acknowledgement a {
  mix-blend-mode: difference;
}

.container {
  margin: 0 auto;
  width: min(90%, 70.5rem);
}

/* ========================
      grid layout 
======================== */

.grid {
  display: grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  /* margin: 20px auto; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.acknowledgement-content {
  grid-area: Ack;
}

.acknowledgement {
  /* grid-area: acknowledgement-section; */
  grid-template-areas:
    ".    .    .    .    .    .    . . . . . ."
    ".    .    Ack  Ack  Ack  .    . . . . . .";
}

.about {
  grid-area: about-section;
  grid-template-areas:
    ".    header   .    .    .    .    . . . . .  ."
    ".    .    .    .    .    .    . . . . .  ."
    ".    Ac   Ac   Ac   Ac   .    . . . . At ."
    ".    SRt  SRc  SRc  SRc  SRc  . . . . .  ."
    ".    AIt  AIc  AIc  AIc  AIc  . . . . .  .";
}

.outlook {
  grid-area: outlook-section;
  grid-template-areas: ". Os Os Os Os . . Obm Obm Obm Obm .";
  /* overflow-y: hidden; */
}
.outlook-container {
  display: block;
}

/* ========================
      acknowledgement 
======================== */

.acknowledgement,
.acknowledgement a {
  position: absolute;
  color: var(--bg-main);
  transition: opacity 2000ms 2000ms;
}

.acknowledgement-accent-text p,
.acknowledgement-accent-text a {
  font-size: var(--fs-body-small);
}

/* ========================
      about
======================== */

.header {
  display: grid;
  grid-area: header;
  height: 66.6vh;
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}

.about-title {
  grid-area: At;
  /* align-items: flex-start; */
}
.about-content {
  grid-area: Ac;
}
.slow-roll-title {
  grid-area: SRt;
}
.slow-roll {
  grid-area: SRc;
}
.as-is-title {
  grid-area: AIt;
}
.as-is {
  grid-area: AIc;
}

.as-is-title,
.slow-roll-title {
  font-style: italic;
}

/* ========================
      outlook
======================== */
.outlook {
  /* space above outlook section 
     1/12 vw */
  margin-top: var(--one-twelth-vw);

  /* space below outlook section 
     0.5/12 vw */
  margin-bottom: var(--oneohhalf-twelth-vw);
}

.outlook-support {
  grid-area: Os;
}

.outlook-bon-marche {
  grid-area: Obm;
}

.outlook {
  /* 
  review: 
      clamp(MIN, VAL, MAX) resolves to max(MIN, min(VAL, MAX)) 
  */

  /* height of outlook img to fill screen height */
  max-height: 100vh;

  /* height of outlook img to not surpass X px */
  /* max-height: 300px; */
}

.outlook img {
  width: 100%;
}

/* ========================
      footer
======================== */

.footer {
  display: grid;
  grid-template-areas: ".   contact    .    address    address    .    . . . cc-ip cc-ip  .";
}

.social-icon {
  mix-blend-mode: normal;
  width: 20px;
}

.contact {
  grid-area: contact;
}

.address {
  grid-area: address;
}
.address p {
  margin-bottom: 0;
}

.cc-ip {
  grid-area: cc-ip;
}

.icon-ig {
}
.icon-fb {
}
.icon-email {
}

/* ========================
      media queries
======================== */
@media (max-width: 40em) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "contact"
      "address"
      "cc-ip";

    /* review:
          - add grid gap between sections */
  }
}
/* ========================
      updates
======================== */
